.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsLeft {
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  object-fit: contain;
  height: 40px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
